/*  
This code I was inspired by the GreatStack's YouTube tutorial mentioned in the readme.
I made some small adjustments for the website's needs, but most of the code is from GreatStack
therefore, the CSS file is separate from my own code.
*/

/* clock.css */

#clock {
    color: var(--clr-accent-js);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-digit {
    margin: 0 0.5rem;
}

.clock-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 60px;
    border-radius: 12px;
    color: #f5f5dc;
    background: #323232ad;
    box-shadow: 0 10px 10px #00000066;
    margin-bottom: 1rem;
}

.wrapper {
    padding: 30px 0;
    border-radius: 12px;
    margin-top: 15px;
    background: #ffffff26;
    box-shadow: 0 8px 32px 0 #323232ad;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease;
}

.wrapper:hover {
    box-shadow: none;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-wrapper div {
    width: 20%;
    text-align: center;
}

.main-wrapper .number {
    position: relative;
    top: 20px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: beige;
}

/* clock responsive for small screens  <= 600px  */
@media (max-width: 768px) {
    .clock-container {
        display: none;
    }

    .clock-content h3 {
        font-size: 16px;
    }

    .outer-wrapper {
        padding: 20px 0;
    }

    .main-wrapper div {
        width: 15%;
    }

    .main-wrapper .number {
        font-size: 50px;
    }

    .main-wrapper .colon {
        font-size: 16px;
    }
}