@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Asterisk selector to override the default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {

    /* Main colors */
    --clr-bg: #5e6c5f;
    --clr-primary: #bdbdbd;
    --clr-accent-1: #fdbd9b;
    --clr-accent-2: #a33a1a;
    --clr-primary-text: #000000;

    /* coding colors */
    --clr-bg-code: #1a1a1a;
    --clr-primary-code: #808080;
    --clr-primary-code-text: #bdbdbd;
    --clr-accent-html: #e34f26;
    --clr-accent-css: #1572b6;
    --clr-accent-js: #f7df1e;

    /* Utilities color */
    --clr-utilities-1: #ffc107;
    --clr-utilities-2: #df2020;
    --clr-utilities-3: #e9e9eb;
    --clr-box-shadow-dark: #00000080;
    --clr-box-shadow-light: #e9e9eb80;
}

/* Global Styles */
html {
    font-family: var(--ff-text-);
    font-size: 16pt;
    line-height: 1.3;
    color: var(--clr-primary-text);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-container {
    overflow: hidden;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Header */
.container-header {
    background-color: var(--clr-primary-code);
    box-shadow: 0 2px 2px 0 var(--clr-box-shadow-light);
    width: 100%;
    height: 77px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#logo {
    font-family: var(--ff-title);
    color: var(--clr-primary-text);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0 0.5rem;
}

/* Navbar with burger toggle and slide effect*/
.navbar-toggle {
    display: none;
}

.navbar-burger {
    cursor: pointer;
    margin-right: 20px;
    float: right;
}

.navbar-burger span {
    height: 3px;
    width: 30px;
    background: var(--clr-primary-text);
    display: block;
    margin-bottom: 5px;
    position: relative;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-toggle:checked~.navbar-burger span:first-child {
    transform: rotate(45deg);
    top: 8px;
    background: var(--clr-utilities-2);
}

.navbar-toggle:checked~.navbar-burger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
    background: var(--clr-utilities-2);
}

.navbar-toggle:checked~.navbar-burger span:nth-child(2) {
    opacity: 0;
}


.navbar-links {
    background: var(--clr-primary);
    width: 100vw;
    top: 79px;
    padding: 1rem 0;
    position: absolute;
    left: -100vw;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 2px 2px 0 var(--clr-box-shadow);
}

.navbar-links ul {
    justify-content: center;
    text-align: center;
}

.navbar-links ul li {
    margin: 1rem 0;
}

.navbar-links ul li a {
    color: var(--clr-primary-text);
    font-weight: 600;
    transition: 0.5s;
}

.navbar-links ul li a:hover {
    color: var(--clr-accent-2);
    border-bottom: 1px solid var(--clr-accent-2);
}

.navbar-links ul li a.navbar-link-active {
    color: var(--clr-accent-2);
}

.navbar-toggle:checked~nav {
    left: 0;
}


/* Main Content */

main {
    background-color: var(--clr-bg);
}



/* Footer */
footer {
    background-color: var(--clr-primary);
    box-shadow: 0 -2px 2px 0 var(--clr-box-shadow);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8px;
    height: 70px;
    width: 100%;
}

footer p {
    font-family: var(--ff-title-);
    color: var(--clr-primary-text);
    font-size: smaller;
    font-weight: 600;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li a {
    color: var(--clr-primary-text);
    padding: 0 2rem;
}

footer ul li a:hover {
    color: var(--clr-accent-2);
}


/* Responsive Design*/

/*  For tablets  >= 768px */
@media (min-width: 768px) {

    /* Navbar */
    .navbar-burger span {
        display: block;
    }

    .navbar-links {
        background: var(--clr-primary);
        width: 100vw;
        top: 79px;
        padding: 1rem 0;
        position: absolute;
        transition: left 0.3s ease-in-out;
        box-shadow: 0 2px 2px 0 var(--clr-box-shadow);
    }

    header .navbar-links ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header .navbar-links ul li {
        margin: 0.5rem 0;
        padding: 0 1rem;
    }
}

/* For laptops >= 992px and up */
@media (min-width: 992px) {

    /* Navbar */

    header #logo {
        text-wrap: nowrap;
    }

    header .navbar-links {
        background: none;
        width: 100vw;
        top: 0;

        left: 0;
        box-shadow: none;
    }

    header .navbar-links ul {
        width: 80%;
        padding-right: 1rem;
        justify-content: end;
    }

    header .navbar-links ul li {
        margin: 0;
    }



}