@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Asterisk selector to override the default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Main colors */
    --clr-bg: #5e6c5f;
    --clr-accent-1: #e9e9eb;
    --clr-accent-2: #a33a1a;
    --clr-primary: #fdbd9b;
    --clr-th-dark-primary-text: #000000;

    /* Utilities color */
    --clr-utilities-1: #FFC107;
    --clr-utilities-2: #df2020;
    --clr-utilities-3: #bdbdbd;

    /* Utilities */

    /* Fonts preferred, websafe, fallback */
    --ff-title: "Montserrat", Verdana, sans-serif;
    --ff-text: "Work Sans", Tahoma, sans-serif;

}

/* Global Styles */
html {
    font-family: var(--ff-text);
    font-size: 16pt;
    line-height: 1.5;
    background-color: var(--clr-bg);
    color: var(--clr-primary-text);
}


.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 3.1fr 0.1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "sidebar-left header header"
        "sidebar-left main sidebar-right"
        "sidebar-left footer sidebar-right";
    height: 100vh;
}


body {
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: var(--clr-utilities-3);
    height: 70px;
    width: 100%;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: var(--clr-utilities-3);
}

.sidebar-right {
    grid-area: sidebar-right;
    background-color: var(--clr-utilities-3);
}

main {
    grid-area: main;
    background-color: var(--clr-bg);
    flex: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

footer {
    grid-area: footer;
    background-color: var(--clr-utilities-3);
    justify-content: center;
    height: 70px;
    width: 100%;
}